<div>
    <h4>{{ campaign.name }}</h4>
    <p><strong>Description:</strong> {{ campaign.description }}</p>
    <p><strong>Start Date:</strong> {{ campaign.start_date }}</p>
    <p><strong>End Date:</strong> {{ campaign.end_date }}</p>
    {% if campaign.flag == 1 %}
        <p class="text-danger">This Campaign is flagged</p>
    {% endif %}
    <!-- Add more campaign details as needed -->
    
    <h5>Ads Associated with this Campaign:</h5>
    <ul>
        {% for ad in ads %}
            <li>
                <a href="#" data-toggle="modal" data-target="#adRequestModal" data-id="{{ ad.id }}">
                    {{ ad.id }} - {{ ad.requirements }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


