{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Influencer Engagement and Sponsorship Coordination Platform</h1>
    <p class="lead">Connect sponsors with influencers to advertise products and services effectively.</p>
    <hr class="my-4">
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('main.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }} {{ form.email(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
        <hr>
        <h3>Register</h3>
        <div class="btn-group" role="group">
            <a class="btn btn-success" href="{{ url_for('main.register_sponsor') }}">Register as Sponsor</a>
            <a class="btn btn-info" href="{{ url_for('main.register_influencer') }}">Register as Influencer</a>
        </div>
    </div>
</div>
{% endblock %}
