{% extends "influencer_dashboard.html" %}
{% block tab_content %}
<h2>Profile</h2>
<img src="{{ url_for('static', filename='profile_pics/' + current_user.profile_pic) }}" alt="Profile Picture">
    
    <!-- Form for updating profile picture -->
    <form action="{{ url_for('main.update_profile_pic') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="profile_pic">
        <input type="submit" value="Update Profile Picture">
    </form>
<p>Name: {{ current_user.username }}</p>
<p>Category: {{ current_user.category }}</p>
<p>Niche: {{ current_user.niche }}</p>
<p>Reach: {{ current_user.reach }}</p>
{% endblock %}
